{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": ".src/components",
          "@constants": "src/constants",
          "@hooks": "src/hooks",
          "@interfaces": "src/interfaces",
          "@mutations": "src/mutations",
          "@queries": "src/queries",
          "@utils": "src/utils"
        }
      }
    ]
  ]
}
